minimum_pre_commit_version: "3.0"
repos:
- repo: https://github.com/charliermarsh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.14.10'
  hooks:
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix]
    types_or: [python, pyi]
  - id: ruff-format
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
  - id: yamllint
    args: [-d, "{extends: relaxed, rules: {line-length: disable} }"]
    verbose: true
- repo: local
  hooks:
  - id: ty
    name: ty check
    entry: uv run ty check
    language: system
    files: ^src/.*\.py$
    exclude: ^src/legacy/.*\.py$
