# {{ project_name }}

{{ project_short_description }}

This is the documentation for **{{ project_name }}**.

---

```{toctree}
:maxdepth: 1
:caption: Orientation

glossary
```

```{toctree}
:maxdepth: 2
:caption: Users

concepts/index
guides/index
reference/index
```

```{toctree}
:maxdepth: 2
:caption: Operators

operations/index
```

```{toctree}
:maxdepth: 2
:caption: Maintainers

architecture/index
contributing/index
adr/index
```
